* {
  box-sizing: border-box;
}

.navbar, .breadcrumb {
  background: #0ead69;
  border-radius: 0px;
}

html, body, ul, p {
  padding: 0px;
  margin: 0px;
}

.bg-teal {
  background: #0ead69;
}

body {
  background: whitesmoke;
}

.img-banner {
  width: 100%;
  height: 250px;
  background-color: #0ead69;
  background-image: url("/img/image-banner.jpg");
  background-position-y: 40%;
  background-size: cover;
}

.img-banner > h1 {
  color: white;
  font-weight: bold;
}

main {
  margin-top: 3.5em;
}

.hotel-list > li {
  list-style: none;
}

.hotel {
  flex: 1 250px;
  margin: 1em;
  line-height: 28px;
}

.hotel-title {
  font-weight: bold;
}

.btn:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}

.btn-hotel {
  background: #0ead69;
  color: white;
  border: 0px;
  border-radius: 0px;
}

.btn-hotel:hover {
  background: #3bceac;
  color: white;
}

.btn-hotel-reserve {
  width: 100%;
  margin-top: 1em;
}

a, .btn-link {
  color: white;
}

a:hover, .btn-link:hover {
  color: #3bceac;
  text-decoration: none;
}

footer {
  background: #0ead69;
  margin: 2em 0 0 0;
  padding: 2rem;
  color: white;
  line-height: 34px;
}

#headingThree {
  background: #0ead69;
}

.table-field-name {
  min-width: 140px;
}

.table-field-name-star {
  min-width: 190px;
}

.card-img-top {
  width: 100%;
  height: auto;
  max-height: 190px;
}

.material-icons {
  padding-right: 0.2em;
  padding-bottom: 0.2em;
  height: 100%;
  vertical-align: middle;
}

.badge-new-hotel {
  background: orange;
  position: absolute;
  right: 0;
  margin: 0.5em;
  font-size: 15px;
}

.multi-collapse {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .carousel-item {
    height: 400px;
  }

  .carousel-item img {
    margin-top: -100px;
  }
}
@media screen and (max-width: 766px) {
  footer {
    padding: 0px;
  }

  .networking-list {
    padding: 1.5em;
    justify-content: space-around;
  }

  .link-list > a {
    padding: 1rem;
    border-bottom: solid 1px lightgrey;
  }

  address {
    display: none;
  }

  .btn-tab {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
